@{
    ViewData["Title"] = "Deposit";
}

@model clsDepositViewModel;

<head>
    <link rel="stylesheet" href="~/css/Deposit.css" />
</head>


<body>

    <div class="deposit-container">

        <div class="deposit-card">

            <h3 class="deposit-header">Deposit</h3>

            <form method="post" action="/MoneyAction/PerformDepositAction"  onsubmit="return confirm('Are you sure you want to continue ?');">

                <div class="form-group mb-3">
                    <label for="amount">Amount</label>
                    <input asp-for="amount" type="text" id="amount" name="amount" class="form-control" placeholder="Enter amount" />
                    <span asp-validation-for="amount" class="text-danger"></span>
                </div>

                <button type="submit" class="deposit-btn">Deposit</button>

            </form>

        </div>
    </div>

    @if (TempData["Message"] != null)
    {
        <script>
            alert("@TempData["Message"]");
        </script>
    }
</body>









