@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/Home.css" />
</head>

<body>

    <div class="container">
      >
        <div class="bank-icon">
            <img src="~/Icons/bank.png" alt="BAT Bank Icon" class="icon" />
        </div>

    
        <div class="info-card">
            <h1>Welcome to BAT Bank</h1>
            <p>Your trusted financial partner. We offer a wide range of services to help you manage your money with ease. From savings accounts to investment opportunities, we have you covered.</p>
            <p>Our services are designed to meet your needs, with a focus on providing personalized support for your financial growth.</p>
        </div>
    </div>

</body>
