@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/Register.css" />
</head>

<body>

    <div class="container">
        >
        <div class="bank-icon">
            <img src="~/Icons/Cloud.png" alt="BAT Bank Icon" class="icon" />
        </div>


        <div class="info-card">
            <h1>We are sorry</h1>
            <p>Unfortuently, the online new account creation is stopped currently </p>
            <p>Kindly visit the nearest bank</p>
        </div> 

    </div>

</body>
